<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Malankara Orthodox Syrian Church</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>

<body>

    <section class="hero">

        <header>
            <div class="logo">
                <img src="../images/logo.png" alt="Logo">
            </div>

            <nav class="nav-pill">
                <a href="#" class="active">The Catholicate</a>
                <a href="#">Administration</a>
                <a href="#">Dioceses</a>


                <button class="menu-btn">
                    <i class="fas fa-ellipsis-h"></i>
                </button>
            </nav>

            <a href="#" class="start-btn">
                GET STARTED
                <i class="fas fa-arrow-up-right-from-square"></i>
            </a>
        </header>

        <div class="hero-content">
            <h1>
                Faith rooted<br>
                in tradition
            </h1>

            <p>The Malankara Orthodox Syrian Church</p>
        </div>

        <div class="info-bar">
            The Malankara Orthodox Syrian Church, also known as the Indian Orthodox Church,
            is an ancient Christian denomination founded by St. Thomas the Apostle in AD 52.
        </div>

    </section>

    <section class="events">
        <div class="container">
            <h1>Latest Events</h1>

            <a href="#" class="loadmore">
                LOAD MORE

            </a>

            <div class="event">
                <div class="event-img">

                </div>

            </div>


        </div>

    <div class="cards">
        <div class="container1">
            <i class="fa-solid fa-bullhorn" style="color: rgb(222, 14, 14);"></i>
         <div class="content">
            <h4>Malankara Orthodox<h4>
                <h6>Lorem  dolor  amet, consectetur read<br> adipisicing any more elit</h6>

            <a href="#" class="loadmor">
               <h5>READ MORE -></h5> 

            </a>
          </div>
        </div>
        <div class="container1">
            <i class="fa-solid fa-bullhorn" style="color: rgb(222, 14, 14);"></i>
         <div class="content">
            <h4>Malankara Orthodox<h4>
                <h6>Lorem  dolor  amet, consectetur read<br> adipisicing any more elit</h6>

            <a href="#" class="loadmor">
               <h5>READ MORE -></h5> 

            </a>
          </div>
        </div>
        <div class="container1">
            <i class="fa-solid fa-bullhorn" style="color: rgb(222, 14, 14);"></i>
         <div class="content">
            <h4>Malankara Orthodox<h4>
                <h6>Lorem  dolor  amet, consectetur read<br> adipisicing any more elit</h6>

            <a href="#" class="loadmor">
               <h5>READ MORE -></h5> 

            </a>
          </div>
        </div>
        
    </div>  
    

    </section>
    <section class="prouds">
        <div class="proud">
      
          <div class="contain2">
            <h4>Our Proud Saints</h4>
          </div>
      
          <div class="container2">
      
            <div class="card">
              <div class="card-img">
                <img src="../images/mary.jpg" alt="">
              </div>
              <div class="card-content">
                <h4>St Mary Mother of God</h4>
              </div>
            </div>
      
            <div class="card">
              <div class="card-img">
                <img src="../images/apostle.jpeg" alt="">
              </div>
              <div class="card-content">
                <h4>The Apostles</h4>
              </div>
            </div>
      
            <div class="card">
              <div class="card-img">
                <img src="../images/early church father.jpg" alt="">
              </div>
              <div class="card-content">
                <h4>The Early Church Fathers</h4>
              </div>
            </div>
            <div class="card">
                <div class="card-img">
                  <img src="../images/basil.jpg" alt="">
                </div>
                <div class="card-content">
                  <h4>St Baselios Yeldho</h4>
                </div>
              </div>
      
          </div>

          <div class="about">
            <img src="../images/Devalokam_Aramana,_Kottayam.jpg" alt="">
            <div class="about-content">
                <h4>ABOUT MOSC</p>
                <h1>The Malankara Orthodox Syrian Church</h1>
                <p>The Malankara Orthodox Syrian Church, also known as the Indian Orthodox Church, is an ancient Christian denomination founded by St. Thomas the Apostle in AD 52.It follows the West Syriac liturgical tradition and has its headquarters in Kottayam,Kerala, with a global presence among the Indian diaspora.
 </p>
 <a href="#" class="start-btn">
    EXPLORE MORE <i class="fas fa-arrow-up-right-from-square"></i>
    </a>
            </div>
          </div>
        </div>
      </section>

      <section class="Catholicate">
        <div class="catholicate-inner">
    <div class="container3">
        <h1>Catholicos of The East & Malankara Metropolitan<h1>
            <h6>His Holiness Moran Mar Baselios Marthoma Mathews lll is the <br>present Primate of Malankara Indian Orthodox Syrian Church<br> bearing the titles "Calholicos of the East and Malankara <br>Metropolitan".</h6>
            <h5><i class="fa-solid fa-cross"></i> H.H.Moran Mar Baselios Marthoma Mathews lll</h5>
            <a href="#" class="start-btn">
                EXPLORE MORE <i class="fas fa-arrow-up-right-from-square"></i>
                </a>
            </div>
            <div class="photos">
            <div class="imags">
                <img src="../images/Malankara_Metropolitan_Mathews_III.jpg" alt="" width="200px" >
            </div>
            <div class="imags">
                <img src="../images/images.jpg" alt="" width="240px">
            </div>
        </div>

    </div>

      </section>


      <section class="kalpana">
        <div class="kalpana-inner">
        <div class="Kalpana">
            <h1>Kalpana <br>
            2025</h1>
            <h6>Liturgical Calendar</h6>
            <a href="#" class="start-btn">
                EXPLORE MORE <i class="fas fa-arrow-up-right-from-square"></i>
                </a>
        </div>

                
                <div class="box">
                    <div class="main-box">
                        <i class="fa-solid fa-cross"></i>

                        <div class="sub">
                            <div class="text">
                          <h6>Kalpana No.195 | 05-09-2025</h6>
                          <h4>2025 Seminary Day</h4>
                        </div>
                          <a href="#" class="start-btn">
                            READ KALPANA <i class="fas fa-arrow-up-right-from-square"></i>
                            </a>
                        </div>
                        
                   
                    </div>
                    <div class="main-box">
                        <i class="fa-solid fa-cross"></i>

                        <div class="sub">
                            <div class="text">
                          <h6>Kalpana No.195 | 05-09-2025</h6>
                          <h4>2025 Seminary Day</h4>
                        </div>
                          <a href="#" class="start-btn">
                            READ KALPANA <i class="fas fa-arrow-up-right-from-square"></i>
                            </a>
                        </div>
                        
                    
                </div>
                <div class="main-box">
                    <i class="fa-solid fa-cross"></i>

                    <div class="sub">
                        <div class="text">
                      <h6>Kalpana No.195 | 05-09-2025</h6>
                      <h4>2025 Seminary Day</h4>
                    </div>
                      <a href="#" class="start-btn">
                        READ KALPANA <i class="fas fa-arrow-up-right-from-square"></i>
                        </a>
                    </div>
            

                
        </div>
      </section>

        <section class="upcomings">
            <div class="upcomings-inner">
                <div class="container4">
                    <h4>UPCOMING EVENTS</h4>
                    <h1>Upcoming <br>Event Updates</h1>

                </div>
                <div class="event">
                    <div class="event-icon">
                        <a href="#" class="start-btn">
                            READ KALPANA <i class="fas fa-arrow-up-right-from-square"></i>
                            </a>

                    </div>
                </div>

                </div>
                <div class="Updates">
                    <div class="Updatess">
                        <img src="../images/matha.jpg" alt="src" >
                        
                    </div>
                    <div class="contents">
                        <h3>Malankara<br> Orthodox Syrian Church</h3>
                        <span>02</span>
                    </div>
                    <div class="contents">
                        <h3>Malankara<br> Orthodox Syrian Church</h3>
                        <span>02</span>
                    </div>
                    <div class="Updatess">
                        <img src="../images/matha.jpg" alt="src">
                        
                    </div>
                    <div class="contents">
                        <h3>Malankara<br> Orthodox Syrian Church</h3>
                        <span>02</span>
                    </div>
                    <div class="contents">
                        <h3>Malankara<br> Orthodox Syrian Church</h3>
                        <span>02</span>
                    </div>
                    <div class="contents">
                        <h3>Malankara<br> Orthodox Syrian Church</h3>
                        <span>02</span>
                    </div>
                </div>

            </div>
        </section>


        <section class="Calendar">

            <div class="Calendar-inner">
                <div class="container5">
                    <h4>UPCOMING EVENTS</h4>
                    <h1>Event <br>Calendar</h1>
                </div>
                <div class="Calendar1">
                    <div class="Calendar2">
                        <div class="calen">
                        <h5>1 December </h5>


                </div>
                <div class="sub-cal">
                <div class="calen1">
                    <h5>05:00<br>AM</h5>
                    
                </div>
            <div class="hashes">
            <div class="hash">
                <span>|</span>
                <div class="hashcont">
                    <h5>The Choir</h5>
                    <h6>How This Choir Group is Keeping The Language<br>Of Christ Alive</h6>
                </div>
                <div class="plus">
                    <h5>+</h5>
                    
            </div>
                
            </div>
        </div>
    </div>
    <div class="sub-cal">
        <div class="calen1">
            <h5>09:00<br>AM</h5>
            
    </div>
    <div class="hashes">
    <div class="hash">
        <span>|</span>
        <div class="hashcont">
            <h5>MOSC</h5>
            <h6>Prime Minister Modi Meets Head Of Malankara <br>Orthodox Syrian Church In Delhi</h6>
        </div>
        <div class="plus">
            <h5>+</h5>
            
        </div>
        
    </div>
    <div class="read"></div>
    <a href="#" class="start-btn">
        READ KALPANA <i class="fas fa-arrow-up-right-from-square"></i>
        </a>
    </div>
    
    
    </div>

    
                    </div>
                    
</div>
<div class="Calendar6">
    <div class="calen-main">
    <div class="calendar-sub6">
    <h5>2025</h5>
</div>
<div class="calendar-sub1">
    <h5>December</h5>
</div>

</div>
<div class="calender-dates">
<div class="days">
    <h5 >mon</h5>
    <h5>tue</h5>
    <h5>wed</h5>
    <h5>thu</h5>
    <h5 class="fri">fri</h5>
    <h5>sat</h5>
    <h5>sun</h5>
    <div class="dates">
        <div class="active">1</div>
        <div class="red">2</div>
        <div class="red">3</div>
        <div>4</div>
        <div>5</div>
        <div>6</div>
        <div>7</div>
        <div>8</div>
        <div class="red">9</div>
        <div class="red">10</div>
        <div>11</div>
        <div>12</div>
        <div>13</div>
        <div>14</div>
        <div>15</div>
        <div class="red">16</div>
        <div class="red">17</div>
        <div>18</div>
        <div>19</div>
        <div>20</div>
        <div>21</div>
        <div>22</div>
        <div class="red">23</div>
        <div class="red">24</div>
        <div>25</div>
        <div>26</div>
        <div>27</div>
        <div>28</div>
        <div>29</div>
        <div class="red">30</div>
    </div>

</div>

</div>
</div>

            </div>

        </section>


        <section class="Latestevent">
            <div class="Latestevent-inner">
                <div class="lastevet">
                    <h4>UPCOMING EVENTS</h4>
                    <h1>Latest Completed <br>Events Updates</h1>
                </div>
                <div class="evtcard">
                <div class="eventcard">
                    <div class="eventcards">
                        <img src="../images/image1.jpg" alt="">
                        <h5>June 06,2025</h5>
                        <h2>Malankara <br>Orthodox  Church</h2>
                        <h6>Read More -></h6>

                    </div>

                </div>
                <div class="eventcard">
                    <div class="eventcards">
                        <img src="../images/image2.jpg" alt="">
                        <h5>June 06,2025</h5>
                        <h2>Malankara <br>Orthodox  Church</h2>
                        <h6>Read More -></h6>

                    </div>
                </div>
                <div class="eventcard">
                    <div class="eventcards">
                        <img src="../images/image3.webp" alt="">
                        <h5>June 06,2025</h5>
                        <h2>Malankara <br>Orthodox  Church</h2>
                        <h6>Read More -></h6>

                    </div>
                </div>
                <div class="eventcard">
                    <div class="eventcards">
                        <img src="../images/image4.jpg" alt="">
                        <h5>June 06,2025</h5>
                        <h2>Malankara <br>Orthodox  Church</h2>
                        <h6>Read More -></h6>

                    </div>
                </div>
                </div>
            </div>
        </section>


        <section class="footer">
            <div class="footer-inner">
              <div class="footer-content">
                <img src="../images/logo.png" alt="">
                <h3>MALANKARA <br>ORTHODOX SYRIAN <br>CHURCH</h3>
                

                </div>
                <div class="footer-about1">
                <div class="footer-about">
                    <a href="#" class="start-btn">
                       About MOSC<i class="fas fa-arrow-up-right-from-square"></i>
                        </a>
                        
                        
                </div>
                <div class="footer-socialmedia">
                    <h6>Facebook</h6>
                    <h6>Instagram</h6>
                    <h6>Twitter</h6>
                    <h6>Linkedin</h6>
                    
                </div>
                <div class="quick">
                    <h3>Quick Links</h3>
                    <div class="quick-links">
                        <div class="others">
                            <h6>The Catholicate</h6>
                            <h6>Administration</h6>
                            <h6>The Church</h6>
                            <h6>Holy Synod</h6>
                            <h6>Ecumenical</h6>
                            <h6>Dioceses</h6>
                            <h6>Saints</h6>
                            <h6>Spiritual</h6>
                            <h6>Organizations</h6>
                        </div>
        
                        <div class="others">
                            <h6>Publications</h6>
                            <h6>Institutions</h6>
                            <h6>Directory</h6>
                            <h6>Training</h6>
                            <h6>Theological Seminaries</h6>
                            <h6>Lectionary</h6>
                            <h6>Downloads</h6>
                            <h6>Calendar</h6>
                            <h6>Gallery</h6>
                        </div>
                    </div>
                </div>
                <div class="contact">
                    <h5>Contact </h5>
                    <div class="contact-us">
                        <h6>Malankara Orthodox Syrian Church <br>Catholicate Palace, Devalokam P.O.,<br>(Via.)Muttambalam, Kottayam – 686 004<br> Kerala , India</h6>
                    </div>
                    <div class="contact-no"><br>
                        <h6><i class="fa-solid fa-phone-flip" style="color: rgb(222, 14, 14);"></i>  0481 2578500, 2578499</h6><br>
                        <h6><i class="fa-solid fa-envelope" style="color: rgb(222, 14, 14);"></i> catholicos@mosc.in</h6><br>
                        <h6><i class="fa-solid fa-envelope" style="color: rgb(222, 14, 14);"></i> pro@mosc.in</h6>
                    </div>

                </div>
                
        </div>
            </div>
            <div class="footer-bottom">
        <div class="footer-name">
            <h6>© Copyright 2025 By MOSC. All Rights Reserved.   Powered By: DOM & DOM
            </h6>
        </div>
        </div>
            </div>
        </section>

    <script src="script.js"></script>
</body>

</html>